.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 29px;
    flex-direction: column;
}

.ajoutMessage {
    width: 100%;
    height: 100;
    border: 1px solid var(--bleuFonce)
}

.messagePerso {
    background-color: var(--bleuFonce);
    padding: 10px;
    border-radius: 15px;
    word-wrap: break-word;
    max-width: 900px;
}

.messageAutre {
    background-color: var(--gris);
    padding: 10px;
    border-radius: 15px;
    word-wrap: break-word;
    max-width: 800px;
}