.mesPoints,
.points {
    font-size: 40px;
    font-weight: 700;
}

.servicesEnCours {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: row;
}

.titreServicesEnCours {
    font-size: 36px;
    font-weight: 500;
    margin: 12px;
    color: var(--blanc)
}