.formAuthentification {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bleueFonce)
}

.imgAuthen {
    width: 300px;
    height: 300px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
}

.formulaire {
    display: flex;
    flex-direction: column;
}

#idEmail,
#password {
    height: 40px;
    width: 400px;
    margin: 5px;
    border: 3px solid black;
    padding: 10px;
    border-radius: 15px
}

.titre {
    font-size: 25px;
    font-weight: "700";
    margin-bottom: 10px;
}