.resume {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.boxResume {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.itemResume {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.titreItemResume {
    color: var(--jaune);
    font-size: 25px;
}

.valeurItemResume {
    color: var(--jaune);
    font-size: 25px;
}

.classement {
    border: 1px solid var(--bleuFonce);
    margin: 30px;
    width: 50%;
    border-radius: 15px;
}

.titleClassement {
    font-size: 30px;
    margin: 20px;
    display: flex;
    justify-content: center;
}

.prenom {
    font-size: 19px;
    font-weight: 600;
    color: var(--bleuFonce);
}

.role {
    color: var(--jaune);
    font-size: 15px;
    font-weight: 400;
}

.itemParticipants {
    display: flex;
    padding: 10px;
    flex-direction: "row";
    justify-content: "space-between";
    border-bottom: 1px solid var(--jaune);
}

.nbPoints {
    font-size: 16px,
}