.service-div {
  padding: 1.5em;
  margin: 3em;
  margin-top: 3.5em;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 60%;
}

.service-container {
  display: flex;
  flex-direction: column;
  width: 45%;
  border-right: 1px solid rgb(120, 120, 120);
}

.service-container:last-child {
  border-right: none;
}

.service-component {
  background-color: red;
}

.service-title {
  font-size: 1.6em;
  font-weight: 600;
  margin-bottom: 1.5em;
  text-align: center;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#right-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#add-service-button {
  border-radius: 20px;
  margin-top: 3.5em;
  padding: 1.3em;
  margin-right: 3em;
  height: 4.5em;
  width: 15em;
}
