#root,
html,
body {
  height: 100%;
}

.formInscription {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bleueFonce);
}

.imgAuthen {
  width: 250px;
  height: 250px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Inter", sans-serif;
}

.formulaireInscription {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

#nom,
#prenom,
#email,
#password,
#confirmPassword {
  height: 35px;
  width: 350px;
  margin: 10px 0;
  border: 3px solid black;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

#identity-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#identity-form input {
  width: 15em;
}

#password-label {
  width: 8rem;
}

.div-alone {
  display: flex;
  justify-content: start;
  align-items: center;
}

.input-alone {
  flex-grow: 1;
}

.label {
  font-size: 20px;
  font-weight: "700";
  width: 4rem;
  margin-left: 15px;
  padding-right: 1em;
}

/* centrer les label et input au milieu */

.titreInscription {
  font-size: 25px;
  font-weight: "700";
  margin-bottom: 40px;
  padding: 10px;
}
