@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --bleueFonce: #191641;
    --gris: #e0e0e0;
    --jaune: #f2c335;
    --bleuFonce: #191641;
    --blanc: #fafafa;
    --grisFonce: #ccc;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Century Gothic";
}