.text {
    font-size: 57px;
    color: var(--bleueFonce);
    font-family: "Verdana";
}

.view {
    margin: 15px;
    margin-left: 40px;
    margin-top: 40px;
}

.underline {
    background-color: var(--jaune);
    width: 200px;
    height: 6px;
    left: 10px;
    position: "relative";
    border-radius: 15px,
}