.info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-bottom: 10px;
}

.password-container {
  display: flex;
  align-items: center;
}

button {
  border: none;
  background-color: transparent;
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.4em;
  padding: 0.8em 2em;
  height: 4em;
}

#button-leave {
  background-color: rgb(203, 27, 27);
}

#button-disconnect {
  background-color: darkred;
}

.button {
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height: 2.6em;
}

.button-div {
  display: flex;
  margin-top: 1.5em;
}
